@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

@media (max-width: 900px) {
    body {
        font-size: 16px;
    }
    .navigation {
        flex-direction: column;
        gap: 10px;
    }
    .header {
        padding: 35px 0;
        display: flex;
        justify-content: center;
    }
    .main-content {
        margin-top: 80px !important;
    }

    
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    background-color: silver;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    background-color: transparent;
}
.header {
    padding: 14px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #ced413;
    transition: top 0.3s;
    z-index: 1000;
    max-width: 1920px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-link,
.footer-brand {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 22px;
    transition: color 0.3s ease;
}
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-item {
    margin-left: 20px;
}
.nav-link {
    font-weight: 100;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease;
}

@media (max-width: 550px) {
    .nav-item {
        margin-left: 5px;
        font-size: 14px;
    }
    .nav-link {
        padding: 2px 5px;
    }
}

.nav-list.show {
    max-height: 500px;
    opacity: 1;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger-line {
    width: 30px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 3px 0;
    transition: 0.3s;
}

.burger-menu.active .burger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger-menu.active .burger-line:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 730px) {
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }
    .nav-list {
        display: flex;
    }

    .burger-menu {
        display: flex;
        margin-right: 15px;
    }
    .navigation {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.main-content {
    margin-top: 50px;
}

.navigation {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

@media (max-width: 768px) {
    .main-content {
        margin-top: 52px;
    }
    .navigation {
        justify-content: space-evenly;
    }
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-item {
    position: relative;
}

@media (max-width: 730px) {
    .burger-menu {
        display: flex;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        background-color: #ced413;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .nav-list.active {
        display: flex;
    }
}

@media (max-width:426px) {
    .header{
        background-color: transparent;
        border-bottom: none;
    }

    .header-link{
        display: none;
    }
    
    .burger-line{
        background-color: white;
    }
    .main-content{
        margin-top: 0;
    }
    .slider-header{
        margin-top: 0;
    }
    .burger-menu{
        z-index: 10000;
        position: fixed;
        right: 15px;
        top: 15px;
    }
    .nav-list{
        top: 0;
    }
}

.site-footer {
    background-color: #ced413; /* Темно-синий цвет фона */
    color: #000000; /* Светлый цвет текста */
    padding: 20px 0;
    margin-top: auto;
}

.footer-content {
    max-width: 1200px; /* Максимальная ширина футера */
    margin: 0 auto; /* Центрирование */
    padding: 0 20px; /* Отступы */
    display: flex; /* Для выравнивания по строкам */
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрирование элементов по горизонтали */
}

.footer-details {
    margin-bottom: 20px; /* Отступ внизу */
    text-align: center; /* Центрирование текста */
}

.footer-location,
.footer-phone,
.footer-email {
    color: #000000; /* Цвет текста */
    display: flex; /* Блочный элемент для переноса на новую строку */
    align-items: center;
    gap: 8px;
    text-decoration: none; /* Убираем подчеркивание */
}

.footer-links {
    margin-bottom: 20px; /* Отступ внизу */
    text-align: center; /* Центрирование */
}

.footer-links a {
    margin: 0 10px; /* Группируем ссылки с отступами */
    color: #000000; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Плавный переход цвета */
}

.footer-badges {
    display: flex; /* Для выстраивания значков в ряд */
    justify-content: center; /* Центрирование */
}

.footer-age-restriction {
    max-width: 50px; /* Максимальная ширина значков */
    margin: 0 5px; /* Отступ между значками */
}

.footer-badge {
    max-width: 150px; /* Максимальная ширина значков */
    margin: 0 5px; /* Отступ между значками */
}

.footer-rights {
    text-align: center; /* Центрируем текст */
    margin-top: 20px; /* Отступ сверху */
    font-size: 14px; /* Размер шрифта */
}
.footer-warn {
    text-align: center; /* Центрируем текст */
    padding: 8px;
    font-size: 14px; /* Размер шрифта */
}

/* Адаптивность */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Убеждаемся, что элементы остаются вертикальными на маленьких экранах */
    }
}

.promo-section {
    background-image: url('img/home/header.bg.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 20px; /* Отступы на маленьких экранах */
}

.promo-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Затемнённый фон */
    z-index: 1;
}

.promo-content {
    position: relative;
    color: white;
    text-align: center;
    z-index: 2;
    max-width: 500px; /* Ограничиваем максимальную ширину */
    padding: 20px; /* Внутренние отступы */
    border-radius: 10px; /* Закругление углов */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Тень */
}

.promo-title {
    font-size: 2.5em; /* Увеличенный размер заголовка */
    margin-bottom: 10px; /* Отступ снизу */
}

.promo-description {
    font-size: 1.2em; /* Размер шрифта для описания */
    margin-bottom: 20px; /* Отступ снизу */
}

.input-group, .checkbox-group, .button-container {
    margin-bottom: 15px; /* Отступы между элементами */
}

.input-label {
    display: block; /* Блочный элемент */
    margin-bottom: 5px; /* Отступ для меток */
}

.input-phone {
    width: 100%; /* Полная ширина для полей ввода */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Рамка */
    border-radius: 5px; /* Закруглённые углы */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
}

.checkbox-group {
    display: flex; /* Упаковка для контроля */
    align-items: center;
}

.checkbox-label {
    margin-left: 5px; /* Отступ между чекбоксом и меткой */
}

.auth-button {
    padding: 10px 20px;
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закруглённые углы */
    color: white; /* Цвет текста */
    background-color: #32b11b; /* Цвет фона кнопок */
    cursor: pointer; /* Изменение курсора */
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
    margin: 5px; /* Отступы между кнопками */
}

.signup-button {
    background-color: #4CAF50; /* Цвет для Sign Up */
}

.login-button {
    background-color: #007BFF; /* Цвет для Sign In */
}
.privacy-link{
    color: rgb(18, 219, 0);
    transition: color 0.3s ease;
}

/* Адаптивность */
@media (max-width: 768px) {
    .promo-section {
        height: auto; /* Высота изменяется на маленьких экранах */
        padding: 40px 15px; /* Поддерживайте отступы */
    }

    .promo-content {
        padding: 20px; /* Уменьшаем внутренние отступы */
    }
}


.section-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.section-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #ff5733;
    margin: 10px auto;
    border-radius: 2px;
}

/* Paragraph Styling */
.section-paragraph {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 20px;
}

/* Images Styling */
.section-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.section-image:hover {
    transform: scale(1.05);
}


.batbrigade-fantasy-section {
    padding: 2rem;
}

.batbrigade-fantasy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.batbrigade-fantasy-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.batbrigade-fantasy-content {
    text-align: center;
    margin-top: 1.5rem;
}

.batbrigade-fantasy-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.batbrigade-fantasy-text {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.batbrigade-fantasy-features {
    list-style: none;
    padding: 0;
}

.batbrigade-fantasy-features li {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.batbrigade-fantasy-features i {
    margin-right: 0.5rem;
    font-size: 1.2rem; /* Font Awesome icon size */
}

.batbrigade-fantasy-btn {
    background-color: #007bff; /* Change this to your preferred button color */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: backgroud-color 0.3s ease;
}

/* Responsive styles */
@media (max-width: 768px) {
    .batbrigade-fantasy-container {
        flex-direction: column;
        padding: 1rem;
    }

    .batbrigade-fantasy-heading {
        font-size: 1.5rem;
    }

    .batbrigade-fantasy-text {
        font-size: 0.9rem;
    }
}








.privacy-main {
    padding: 2rem;
    margin-top: 10px;
}

.privacy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
}

.privacy-title {
    font-size: 2.5rem;
    color: #ffffff;
}

.privacy-definitions, .privacy-collection, .privacy-childrens, .privacy-third-party-links, .privacy-changes, .privacy-contact {
    font-size: 2rem;
    margin-top: 2rem;
    color: #afafaf;
}

.privacy-interpretation, .privacy-terms, .privacy-personal-data-title, .privacy-usage-data-title, .privacy-tracking-tech-title, .privacy-usage-personal-data, .privacy-sharing-data, .privacy-retention-data, .privacy-transfer-data, .privacy-deletion-data, .privacy-disclosure-data, .privacy-business-transactions, .privacy-law-enforcement, .privacy-other-requirements, .privacy-security {
    color: #007BFF;
}

.privacy-intro, .privacy-definition-intro, .privacy-personal-data-text, .privacy-usage-text, .privacy-sharing-text, .privacy-retention-text, .privacy-transfer-text, .privacy-deletion-text, .privacy-business-text, .privacy-law-text, .privacy-other-text, .privacy-security-text {
    margin: 1rem 0;
}

.privacy-definition-list,
.privacy-personal-data-list,
.privacy-usage-list,
.privacy-sharing-list,
.privacy-tracking-list,
.privacy-contact-list {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.definition-item, .contact-item {
    margin: 0.5rem 0;
}

.contact-link-privacy {
    color: #007BFF;
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .privacy-main {
        padding: 1rem;
    }

    .privacy-title {
        font-size: 2rem;
    }

    .privacy-definitions, .privacy-collection, .privacy-childrens, .privacy-third-party-links, .privacy-changes, .privacy-contact {
        font-size: 1.5rem;
    }
}









.terms-main {
    padding: 2rem;
    margin-top: 10px;
}

.terms-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.terms-title {
    font-size: 2.5rem;
    color: #ffffff;
}

.terms-introduction, .terms-service-agreement, .terms-interference-warning, .terms-account-responsibility, .terms-content-license, .terms-ip-notice, .terms-third-party-disclaimer, .terms-service-disclaimer, .terms-liability-limitation, .terms-indemnity-agreement, .terms-termination-policy, .terms-law-governance, .terms-changes-notice, .terms-player-policy {
    margin: 1rem 0;
}

h2.terms-service-use, h2.terms-account-creation, h2.terms-user-content, h2.terms-intellectual-property, h2.terms-third-party-links, h2.terms-disclaimers, h2.terms-indemnification, h2.terms-termination, h2.terms-governing-law, h2.terms-changes, h2.terms-player-responsibilities {
    font-size: 2rem;
    margin-top: 2rem;
    color: #b4b4b4;
}



/* Responsive Styles */
@media (max-width: 768px) {
    .terms-main {
        padding: 1rem;
    }

    .terms-title {
        font-size: 2rem;
    }

    .terms-container h2 {
        font-size: 1.5rem;
    }
}



















@media (min-width: 1025px) {
    .header-link:hover,
    .footer-brand:hover {
        color: rgb(121, 121, 121);
    }
    .nav-link:hover {
        color: rgb(121, 121, 121);
    }
    .footer-location:hover,
    .footer-phone:hover,
    .footer-email:hover {
        color: rgb(121, 121, 121);
    }
    .footer-links a:hover {
        color: rgb(121, 121, 121);
    }
    .login-button:hover {
        background-color: #0056b3; /* Более тёмный цвет при наведении */
    }
    .auth-button:hover {
        transform: translateY(-2px); /* Лёгкий подъем кнопки */
    }
    
    .signup-button:hover {
        background-color: #45a049; /* Более тёмный цвет при наведении */
    }
    .privacy-link:hover{
        color: white;
    }
    .batbrigade-fantasy-btn:hover {
        background-color: #0056b3; /* Darker version of button */
    }
    .contact-link-privacy:hover {
        text-decoration: underline;
    }
}


.how-it-works-section {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.how-it-works-title {
    font-size: 28px; /* Increased size for clarity */
    margin-bottom: 15px;
    text-align: center; /* Centered title */
}

.how-it-works-intro {
    margin-bottom: 30px; /* More space before the steps */
    text-align: center; /* Centered text */
}

.how-it-works-step {
    background: rgb(64, 64, 64); /* White background for steps */
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for steps */
    padding: 15px;
    margin-bottom: 15px;
}

.how-it-works-step-title {
    color: #7acc00; /* Highlight color for step titles */
    font-size: 22px; /* Step title font size */
    margin-bottom: 10px; /* Space below titles */
}

.how-it-works-step-description {
    margin-bottom: 10px; /* Space between description and image */
}

.how-it-works-step-image {
    max-width: 100%; /* Responsive images */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners for images */
    margin-top: 10px; /* Space above images */
}

.how-it-works-conclusion {
    text-align: center; /* Centered conclusion text */
    color: #555;
    font-size: 16px; /* Standard font size for conclusion */
    margin-top: 20px; /* Space above the conclusion */
}

@media (max-width: 600px) {
    .how-it-works-step-title {
        font-size: 20px; /* Adjust title size for mobile */
    }

    .how-it-works-title {
        font-size: 24px; /* Adjust main title size for mobile */
    }
}



.how-it-works-step-image {
    max-width: 100%; /* Responsive images */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners for images */
    margin-top: 10px; /* Space above images */
    display: block; /* Ensures the image takes up the full line and is centered */
    margin-left: auto; /* Center alignment */
    margin-right: auto; /* Center alignment */
}
